<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="5.0">

    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>mg.itu.FrontControllerServlet</servlet-class>

        <!-- ← Paramètre d'init lu dans init() -->
        <init-param>
            <param-name>controllerPackage</param-name>
            <param-value>controllers</param-value>
        </init-param>
    </servlet>

    <load-on-startup>1</load-on-startup>

    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>